
<div class="container2">
  <h1 class="header">Quick support</h1>

  <form >
  <div>
  <mat-form-field appearance="outline" >
    <mat-label >Please write a subject</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>
</div>

<div>
  <mat-form-field class="textArea" appearance="outline"  >
    <mat-label >How can we help you?</mat-label>
    <textarea matInput placeholder=""></textarea>
  </mat-form-field>
</div>

<button mat-raised-button color="primary">Send to support</button>
</form>

<div class="normalText">
  We'll do our best to answer your query instantly or in a couple of hours.<br>
In some cases it will take longer, but no longer than 2 working days. Thank you for your patience.<br>
<br>
For SegPay billing support you can call 1-888-376-0948, or visit https://cs.segpay.com<br>
For CCbill billing support you can call 1-888-596-9279
</div>


</div>
