<div class="footer">
 <div class="footerLink" fxLayout="row" fxLayoutAlign="center">
    <a routerLink="/terms-and-conditions">Terms and Conditions</a>
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/sitemap">Sitemap</a>
    <a routerLink="/support">Contact Us</a>
    <a routerLink="/about-us">About Us </a>
 </div>
 <div class="copyRights" fxLayout="row" fxLayoutAlign="center">All rights are reserved. 2019 - 2020 © travel-ladies.com</div>
 <div class="copyRights" fxLayout="row" fxLayoutAlign="center">TM Solutions Ltd, 29/14 Vincenti Buildings, Strait Street, VLT 1432, Valetta, Malta</div>
</div>
