<div class="headerInput">
  <h1>Meine Bewerbung als Webentwickler</h1>
  <div class="subTitle">
    TRAVEL-LADIES.com ist eine Webseite, die ich derzeit für einen Kunden programmiere.<br>
    Vorgabe war es, eine ähnliche Dating Seite wie travelgirls.com zu erstellen. <br>
    Als Technolgien wurden hier das Framework Angular (FrontEnd) & Firebase (Backend) verwendet.
  </div>
</div>

<div class="middleInput">
  <div class="features"> Features </div>
    <div class="featureSingle">
    <mat-icon>done_outline</mat-icon>
    <div>Registierung & Login</div>
    </div>

    <div class="featureSingle">
    <mat-icon>done_outline</mat-icon>
    <div>Chat System</div>
    </div>

    <div class="featureSingle">
    <mat-icon>done_outline</mat-icon>
    <div>Persönliche Daten bearbeiten</div>
    </div>

    <div class="featureSingle">
    <mat-icon>done_outline</mat-icon>
    <div>Bilder Upload</div>
    </div>

    <div class="featureSingle">
    <mat-icon>done_outline</mat-icon>
    <div>Nach Personen filtern</div>
    </div>

    <div class="featureSingle">
    <mat-icon>done_outline</mat-icon>
    <div>und vieles mehr</div>
    </div>
</div>


<div class="pleaseConsider">
  <div>Bitte beachten:</div>

  <div class="subTitle">  Dieses Projekt soll als Hilfestellung dienen, um einen groben Einblick über meine aktuellen  <br> Kenntnisse der Webentwicklung zu bekommen,
    allerdings befindet sich die Seite noch im Aufbau:
  </div>

  <div class="considerSingle">
  <mat-icon>close</mat-icon>
  <div>Funktionalitäten wurden noch nicht vollständig implementiert.</div>
  </div>

  <div class="considerSingle">
  <mat-icon>close</mat-icon>
  <div>Einige Features sind zurzeit noch in Bearbeitung und daher teilweise etwas fehlerhaft</div>
  </div>


  <div class="considerSingle">
  <mat-icon>close</mat-icon>
  <div>Einzelne Seiten sind bisher nur teilweise an Mobile Geräte (responsive) angepasst.</div>
  </div>




</div>




<div class="bottomInput">
  <button mat-button  [mat-dialog-close]><span>Ok</span></button>
<div>
