<div class="slideEffect"  [@slideInOut]>

<div class="travelContainer">
<div>
  <div class="headerContainer">
    <h1 class="header">Trips</h1>
    <div class="subtitle"> Girls traveling to: </div>
  </div>
  <div class="addButton">
</div>

<div class="travelContainerSearch" >

  <div class="countryContainer">

      <mat-form-field appearance="outline" >
        <mat-label>Who wants to visit</mat-label>
        <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onChangeCountry2($event.option.value)'>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>location_on</mat-icon>
      </mat-form-field>

    <div class="flex"   *ngIf="countryName">
      <div class="stateClass">
          <mat-form-field appearance="outline" class="stateClass">
            <mat-label>State</mat-label>
          <input type="text" aria-label="Number" matInput [formControl]="myControl2"  [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete" (optionSelected)='onChangeState2($event.option.value)'>
            <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="cityClass" *ngIf="stateName" >
        <mat-form-field  appearance="outline" class="cityClass">
          <mat-label>City</mat-label>
        <input type="text" aria-label="Number" matInput [formControl]="myControl3"  [matAutocomplete]="auto3">
        <mat-autocomplete #auto3="matAutocomplete" (optionSelected)='onChangeCity3($event.option.value)'>
          <mat-option *ngFor="let option3 of filteredOptions3 | async" [value]="option3">
            {{option3}}
          </mat-option>
        </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

  </div>


<div class="dateContainer">

  <div class="fromTo">

    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input  [(ngModel)]="dateFrom" matInput [matDatepicker]="picker" (dateInput)="from($event.value)">
      <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>To</mat-label>
      <input   [(ngModel)]="dateTo" matInput [matDatepicker]="picker2" (dateInput)="to($event.value)" >
      <mat-datepicker-toggle  matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

  </div>

</div>

</div>

<div class="HeaderVisitLand">


  <div class="titlleVisitLand"> <span *ngIf="!countryName">Girls who want to visit to {{countryNameStart}}</span> <span *ngIf="countryName">Girls who want to visit {{countryName}}</span><span class="flag-icon flag-icon-{{countrySortName | lowercase}}"></span> </div>
</div>
<div class="showPersons">
  <div class="SecondContainerImages">
  <div  class="imagePerson" *ngFor="let user of array1All " >
    <a>
    <div (click)="goToUser(user[0], user[1])" class="imageImgContainer example-ripple-container mat-elevation-z4 hoverEffect" matRipple>
      <img *ngIf="user[3]" src="{{user[3]}}"  >
      <img *ngIf="!user[3]"  src="https://firebasestorage.googleapis.com/v0/b/travel-ladies.appspot.com/o/travel-ladies%2Fprofile-placeholder.png?alt=media&token=c75f8378-5792-45d4-ade4-97372764d3b8">
      <mat-icon *ngIf="verified">check_circle</mat-icon>
    </div>
    <div class="bottomContainer" fxLayout="row" fxLayoutAlign="space-between">
      <div class="names">
        <a class="imageName" >
          {{user[1]}}, {{user[2]}}
            <span *ngIf="user[7]" class="dot"></span>
        </a>
         <div class="imageFrom" >
           {{user[6]}}
          </div>
        </div>
        <a  class="icons">
        <mat-icon  *ngIf="!userIDinArray(user[0])" class="starFollow" (click)="followUser(user[0])"   matTooltip="Add to favorites">star</mat-icon >
        <mat-icon *ngIf="userIDinArray(user[0])" class="starFollowed" (click)="removeUser(user[0])"  matTooltip="Remove from favorites" >star</mat-icon>
        </a>
      </div>

      <div class="line"> </div>

        <div class="wantsToVisit"><span class="flag-icon flag-icon-{{countrySortName| lowercase}}"></span> {{user[8]}} <span *ngIf="user[9]!='' ">, {{user[9]}}</span> <span *ngIf="user[10]!='' ">, {{user[10]}}</span> </div>
        <div *ngIf="!!user[11]" class="fromToDate">{{user[11].toDate() | date: 'medium' | date}} - {{user[12].toDate() | date: 'medium' | date}} </div>
    </a>
</div>

</div>
</div>



</div>
</div>
