<div class="topArea">
  <h1 class="header">Refer students </h1>
  <div class="subtitle">Any time a student registers with this link, we will credit you with 1$.</div>
</div>

<div class="flex referalLink">
  <input readonly="" class="" value="https://travel-ladies.com/id/hquyCkECmcMr4W85bdzms6tzjaw1/refal/991CFF42882A461931C5">
  <button mat-raised-button>Copy Link</button>
</div>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="transactions">
    <!-- Item Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Refered User</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.user}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="earnedMoney">
      <th mat-header-cell *matHeaderCellDef> earned Money </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.earnedMoney | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.status}} </td>
      <td mat-footer-cell *matFooterCellDef ></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>
<div>


  <div>
    <div class="unpaidEarnings"> Unpaid Earnings: 5$</div>
    <div class="atLeastMoney"> You need at least 50$ to make a payout. </div>
  </div>

  <div class="paypalContainer">
    <div class="">
      <div class="paypalAccount">Paypal Account:</div>
      <div class="paypalName"> s.armand@gmx.de </div>
    </div>

    <button mat-raised-button color="primary">Request a payout</button>
  </div>
