
<div class="container2">
  <h1 class="header">Travel tips</h1>

  <div class="allText">
  <div class="header1">It is expected that travelgirls.com members are good-natured, however you should not forget safety precautions.</div>
  <div>If you want to arrange a meeting with another member and it involves traveling to another country, make sure you talk to the person before your trip. It is important to make sure that it is the same person you have been contacting with. You can do it by phone or a webcam.</div>

  <div class="header3"><b>Never send money to another member for any reason.</b></div>

  <div class="header4">If you decide to travel to another country to meet someone in person, follow these safety tips:</div>

  <div class="checkList">
  <mat-icon>done_outline</mat-icon>
  <div>Let at least one of your relatives or friends know where you are going. Make sure you provide them with a passport copy and the phone number of a person you are visiting.</div>
  </div>

  <div class="checkList">
  <mat-icon>done_outline</mat-icon>
  <div>Write down the number of the closest embassy near the place of your visit.</div>
  </div>

  <div class="checkList">
  <mat-icon>done_outline</mat-icon>
  <div>
Make sure your cell phone works abroad. If you do not have a roaming SIM card, buy it as soon as you can when you arrive.
</div>
  </div>


  <div class="checkList">
  <mat-icon>done_outline</mat-icon>
  <div>Do not go if you have been greeted by a different person do not comply with their requests.</div>
  </div>

  <div class="checkList">
  <mat-icon>done_outline</mat-icon>
  <div>
Make sure you have enough money to be able to return back home immediately at any time in case of emergency.
</div>
  </div>

  <div class="checkList">
  <mat-icon>done_outline</mat-icon>
  <div>Once you arrive and meet the person, call your relatives or friends to let them know you are fine.
</div>
  </div>

  <div class="header5"> Please note that travelgirls.com does not take any responsibility for traveling members. This website is just a venue for members to learn about each another and to arrange travels or lodgings if they wish to do so.</div>

  <div class="header6">For any additional legal information, please refer to the Terms and Conditions.If you have any further questions please feel free to contact us at info@travelgirls.com.</div>
  </div>
</div>
