
<div class="container2">
  <h1 class="header">Sitemap</h1>

  <ul>
    <li><a routerLink="/browse/girls"> travel-ladies.com homepage </a> </li>
      <li><a routerLink="/trips">trips</a> </li>
      <li><a routerLink="/tips">travel tips</a> </li>
        <li><a routerLink="/terms-and-conditions">terms and conditions</a> </li>
        <li><a routerLink="/privacy-policy">privacy policy</a> </li>
        <li><a routerLink="/support">contact us</a> </li>
        <li><a routerLink="/about-us">about us</a> </li>
  </ul>

</div>
