<div class="container2">
  <div class="allText">
  <h1 class="header">Privacy policy</h1>

  <div class="header1">By entering and/or registering on the Site you give your consent to and accept the following conditions :</div>
  <div class="header1">1. Age restrictions</div>

  <div class="normalText">
    1.1 You must be eighteen or over to enter and register as a member to use this Site. Children under eighteen years of age are prohibited from using our Site or any of our services. We ask that children would not submit information to us. Membership in the service is void where prohibited.
    <br>  <br>
    1.2 By using and/or viewing this Site you represent and warrant under penalty of perjury the following:
    <br>  <br>
    1.2.1 That you have the right, authority, and capacity to enter into this agreement and to abide by all of the terms and conditions of this agreement and that you are at least 18-years old.
    <br> <br>
    1.2.2 That you will not permit any person(s) under the age of majority to have access to any of the materials contained within this website.
    <br><br>
    1.2.3 That you represent and warrant that you have not and will not use and/or view the Site(s) in a restricted location - namely a place, country, or location in which doing so would, or could be deemed a violation of any law, regulation, rule, ordinance, edict or custom.
  </div>

<div class="header1">2. Information we collect</div>
  <div class="normalText">
    2.1. During the registration process for this Site, you must provide us with certain personally identifiable information including, but not limited to, your name, address, email address, phone number and credit card and bank information . This information is used to contact the user about the services on our site for which they have expressed interest.
    <br>  <br>
    2.1.1. During registration we will give you opportunity to provide us with additional information, such as your interests, hobbies, occupation and other.
    <br>  <br>
    2.1.2. In some cases we may ask for additional information for security reasons or to provide specific services to you.
    <br> <br>
    2.1.3. Once you register you can visit your profile at any time to add or remove supplementary personal information about yourself. You can add basic information about yourself, such as information about your hometown, family, relationships or other specific views. You can also add other information about yourself including your activities, interests, contact information, as well as more information about your education and occupation.
    <br><br>
    2.1.4. If a user's personal information changes (such as your zip code), or if a user no longer desires our service, we will endeavor to provide a way to correct, update or remove that user's personal data provided to us. This can usually be done at the member information page or by contacting our Website administrators.
    <br><br>
2.1.5. We reserve the right to change certain settings of your account concerning news subscription, banners, product offerings and other means of fulfillment of this Site's content and services in certain circumstances, related to marketing and promotional activities.
    <br><br>
2.2. We may retain the details of transactions or payments you make on this Site. However, we will only keep your payment source account number with your consent .
    <br><br>
2.3. Cookie information. Cookies are small pieces of data that are stored by a user's web browser on the user's hard drive for a period of time. Cookies may record information a user accesses on one webpage to simplify subsequent interactions with that website by the same user, or to use the information to streamline the user's transactions on related webpages.
    <br><br>

</div>
</div>
