
<div class="authSection" *ngIf="isAuth">

<app-header (sidenavToggle)="sidenav.toggle()"></app-header>

<mat-drawer-container >
<mat-drawer    fxLayout="column" mode="side" #sidenav  [opened]="sideNavOpen">
  <div class="side-nav" fxHide.md fxHide.sm fxHide.xs>
    <mat-nav-list *ngIf="isAdmin" >
      <a *ngIf="isAdmin" mat-list-item routerLink="/admin/dashboard/fakes" >
        <mat-icon>insert_emoticon</mat-icon> <span class="nav-caption">Fake Accounts</span>
      </a>

      <a *ngIf="isAdmin" mat-list-item routerLink="/admin/dashboard/scout" >
        <mat-icon>check_box</mat-icon> <span class="nav-caption">Scout System</span>
      </a>

      <a *ngIf="isAdmin" mat-list-item routerLink="/admin/dashboard/datas" >
        <mat-icon>data_usage</mat-icon> <span class="nav-caption">Datas..</span>
      </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="!isAdmin">

      <a *ngIf=" gender == 'Male'" mat-list-item routerLink="/browse/girls" >
        <mat-icon>explore</mat-icon> <span class="nav-caption">Browse</span>
      </a>
      <a *ngIf=" gender == 'Female'" mat-list-item routerLink="/browse/man" >
        <mat-icon>explore</mat-icon> <span class="nav-caption">Browse</span>
      </a>


      <a *ngIf="!tripsActive"  mat-list-item routerLink="/trips" >
        <mat-icon>public</mat-icon>
        <span class="nav-caption">Trips</span>
      </a>
      <a *ngIf="tripsActive"  mat-list-item routerLink="/trips" class="activated" >
        <mat-icon>public</mat-icon>
        <span class="nav-caption">Trips</span>
      </a>

      <a *ngIf="!favoritesActive" mat-list-item routerLink="/favorites" >
        <mat-icon>star</mat-icon>
        <span class="nav-caption">Favorites</span>
      </a>
      <a *ngIf="favoritesActive" mat-list-item routerLink="/favorites"  class="activated">
        <mat-icon>star</mat-icon>
        <span class="nav-caption">Favorites</span>
      </a>


      <a *ngIf="!conversationsActive" mat-list-item routerLink="/conversations/inbox/{{lastChatId}}" >
        <mat-icon>chat_bubble</mat-icon>
        <span class="nav-caption">Conversations</span>
      </a>
      <a *ngIf="conversationsActive" mat-list-item routerLink="/conversations/inbox/{{lastChatId}}"class="activated">
        <mat-icon>chat_bubble</mat-icon>
        <span class="nav-caption">Conversations </span>
      </a>


      <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)"  >
        <mat-expansion-panel-header >
          <mat-panel-title >
            <mat-icon>account_box</mat-icon> <span class="nav-captionEx">My Profile</span>
          </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="profileNav">
            <a mat-list-item routerLink="/profile">
                <div class="navProfile">Public Profile</div>
            </a>
          <a mat-list-item routerLink="/profile/profile-visitors">
              <div class="navProfile">Profile Visitors  <span class="messagePopUp"  *ngIf="count != 0 && count >0 ">{{count}}</span> </div>
          </a>
          <a mat-list-item routerLink="/profile/edit-profile">
             <div class="navProfile">Edit Profile</div>
          </a>
          <a mat-list-item routerLink="/profile/settings">
             <div class="navProfile" >Settings</div>
          </a>
       </div>
      </mat-expansion-panel>

    </mat-nav-list>
  </div>


  <div class="side-nav-mobile" fxHide.lg>



    <mat-nav-list *ngIf="!isAdmin">


      <a  *ngIf="!tripsActive && !premiumLocal"  mat-list-item routerLink="/profile/membership" >
        <mat-icon>brightness_low</mat-icon>
        <span class="nav-caption">Premium Account</span>
      </a>

      <a   *ngIf="!tripsActive && premiumLocal"  mat-list-item routerLink="/profile/membership" >
        <mat-icon>brightness_low</mat-icon>
        <span class="nav-caption">Premium Account</span>
      </a>




      <a *ngIf=" gender == 'Male'" mat-list-item routerLink="/browse/girls" >
        <mat-icon>explore</mat-icon> <span class="nav-caption">Browse</span>
      </a>
      <a *ngIf=" gender == 'Female'" mat-list-item routerLink="/browse/man" >
        <mat-icon>explore</mat-icon> <span class="nav-caption">Browse</span>
      </a>


      <a *ngIf="!tripsActive"  mat-list-item routerLink="/trips" >
        <mat-icon>public</mat-icon>
        <span class="nav-caption">Trips</span>
      </a>
      <a *ngIf="tripsActive"  mat-list-item routerLink="/trips" class="activated" >
        <mat-icon>public</mat-icon>
        <span class="nav-caption">Trips</span>
      </a>

      <a *ngIf="!favoritesActive" mat-list-item routerLink="/favorites" >
        <mat-icon>star</mat-icon>
        <span class="nav-caption">Favorites</span>
      </a>
      <a *ngIf="favoritesActive" mat-list-item routerLink="/favorites"  class="activated">
        <mat-icon>star</mat-icon>
        <span class="nav-caption">Favorites</span>
      </a>


      <a *ngIf="!conversationsActive" mat-list-item routerLink="/conversations/inbox/{{lastChatId}}" >
        <mat-icon>chat_bubble</mat-icon>
        <span class="nav-caption">Conversations</span>
      </a>
      <a *ngIf="conversationsActive" mat-list-item routerLink="/conversations/inbox/{{lastChatId}}"class="activated">
        <mat-icon>chat_bubble</mat-icon>
        <span class="nav-caption">Conversations </span>
      </a>


      <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)"  >
        <mat-expansion-panel-header >
          <mat-panel-title >
            <mat-icon>account_box</mat-icon> <span class="nav-captionEx">My Profile</span>
          </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="profileNav">
            <a mat-list-item routerLink="/profile">
                <div class="navProfile">Public Profile</div>
            </a>
          <a mat-list-item routerLink="/profile/profile-visitors">
              <div class="navProfile">Profile Visitors  <span class="messagePopUp"  *ngIf="count != 0 && count >0 ">{{count}}</span> </div>
          </a>
          <a mat-list-item routerLink="/profile/edit-profile">
             <div class="navProfile">Edit Profile</div>
          </a>
          <a mat-list-item routerLink="/profile/settings">
             <div class="navProfile" >Settings</div>
          </a>
       </div>
      </mat-expansion-panel>

    </mat-nav-list>


  </div>


</mat-drawer>

  <mat-drawer-content >
      <div class="container" >
          <router-outlet > </router-outlet>
            <app-pages ></app-pages>
        </div>
  </mat-drawer-content>
  </mat-drawer-container>
</div>


  <app-welcome *ngIf="!isAuth"> </app-welcome>
