<h1 class="header">Edit email</h1>


<div class="field">
<label class="label" for="email">Email:</label>
<input  id="email" name="email" value="s.armand@gmx.de" type="text" autocomplete="off" disabled="disabled" style="background-color: #F0F0F0; color: #999; cursor: not-allowed">
</div>

<div class="checkboxes">

  <div>
  <label class="checkBoxFirst" for="email_new_messages">
    <input type="checkbox" name="email_new_messages"  value="yes" checked="checked">
    I want to get email notifications about new messages</label>
  </div>

  <div>
    <label for="email_periodic_notifications">
    <input  type="checkbox" name="email_periodic_notifications" value="yes" checked="checked">
    I want to get email about notifications</label>
  </div>

</div>

  <button  mat-raised-button class="specialColor"  >
    Update
  </button>
