<div class="slideEffect"  [@slideInOut]>


      <div fxLayout="row" fxLayoutAlign="space-between">

        <div fxLayout="row" *ngFor="let user of userData | async">

          <div >

            <div class="imageOtherProfile" >
              <img *ngIf="user.url" src="{{user.url}}" height="150px" width="150px">
              <img *ngIf="!user.url" height="150px" width="150px" src="https://firebasestorage.googleapis.com/v0/b/travel-ladies.appspot.com/o/travel-ladies%2Fprofile-placeholder.png?alt=media&token=c75f8378-5792-45d4-ade4-97372764d3b8">
            </div>

            <button *ngIf="!isUser"  mat-raised-button class="specialColor"  (click)="startConversation()">
              Send message
              <mat-icon>chat</mat-icon>
            </button>



          </div>

          <div class="middleContainer" >


            <div class="row1">
              <div class="nameProfile">{{user.displayName}}, {{user.bDay}}</div>

              <div class="topRight">
                 <button (click)="openReportUser()" mat-button color="primary">Report User</button>
                <mat-icon *ngIf="!verified" >check_circle</mat-icon>
              </div>

            </div>

              <div  class="itemInfo">
                <div class="infoClass">Country:</div> <div class="itemValue"> {{user.country}}<span *ngIf="!!user.stateName">, </span> <span>{{user.stateName}}</span>
                  <span *ngIf="!!user.cityName">, </span><span>{{user.cityName}} </span> </div>
              </div>
              <div  class="itemInfo">
               <div class="infoClass">Sex:</div><div class="itemValue">{{user.gender}}</div>
              </div>
              <div  class="itemInfo">
               <div class="infoClass">Language:</div>
               <div class="itemValue">
                 <span *ngFor="let language of user.languages ; last as isLast" >
                  <span *ngIf="isLast">{{language}}</span>
                  <span *ngIf="!isLast">{{language + ", "}}</span>
                  </span>
               </div>
              </div>
              <div  class="itemInfo">
               <div class="infoClass">Height:</div>
               <div class="itemValue"> <span *ngIf="user.height">{{user.height + " cm"}}</span>
               </div>
              </div>
              <div  class="itemInfo">
               <div class="infoClass">Body type:</div>
               <div class="itemValue">
                 <span *ngIf="user.bodyType">{{user.bodyType}}</span>
               </div>
              </div>

              <div  class="itemInfo">
               <div class="infoClass">Eyes:</div><div class="itemValue"><span *ngIf="user.eyes">{{user.eyes}}</span></div>
              </div>

              <div  class="itemInfo">
               <div class="infoClass">Hair:</div><div class="itemValue"><span *ngIf="user.hair">{{user.hair}}</span></div>
              </div>
              <div  class="itemInfo">
               <div class="infoClass">Looking for:</div>
               <div class="itemValue">
                 <span *ngFor="let looking of user.lookingFor ; last as isLast" >
                   <span *ngIf="isLast">{{looking}}</span>
                   <span *ngIf="!isLast">{{looking + ", "}}</span>
               </span>
               </div>
              </div>


              <div *ngIf="showVisits else loading"class="itemInfo2">
               <div   class="infoClass">Wants to visit:</div>
               <div class="editContainer2">
                 <div class="itemValue" *ngFor="let visit of userVisits | async" >
                   <div class="visitContainer">
                     <div class="visitLocation">
                       <span class="flag-icon flag-icon-{{visit.dataArray[0]}}"> </span>
                       <span>{{visit.dataArray[1]}}<span *ngIf="!!visit.dataArray[2]">, </span>{{visit.dataArray[2]}} <span *ngIf="!!visit.dataArray[3]">, </span>{{visit.dataArray[3]}}</span>
                     </div>
                     <div class="visitFromTo">
                       <span *ngIf="!!visit.dataArray[4]"> ({{ visit.dataArray[4].toDate() | date: 'medium' | date }} - </span><span *ngIf="!!visit.dataArray[5]"> {{ visit.dataArray[5].toDate() | date: 'medium' | date }}) </span>
                     </div>
                  </div>
                 </div>
               </div>
              </div>

              <ng-template #loading class="itemInfo2">
               <div   class="infoClass"></div>
               <div class="editContainer2">
                 <div class="itemValue" *ngFor="let visit of userVisits | async" >
                   <div class="visitContainer">
                     <div class="visitLocation">
                       <span class="flag-icon flag-icon-{{visit.dataArray[0]}}"> </span>
                       <span>{{visit.dataArray[1]}}<span *ngIf="!!visit.dataArray[2]">, </span>{{visit.dataArray[2]}} <span *ngIf="!!visit.dataArray[3]">, </span>{{visit.dataArray[3]}}</span>
                     </div>
                     <div class="visitFromTo">
                       <span *ngIf="!!visit.dataArray[4]"> ({{ visit.dataArray[4].toDate() | date: 'medium' | date }} - </span><span *ngIf="!!visit.dataArray[5]"> {{ visit.dataArray[5].toDate() | date: 'medium' | date }}) </span>
                     </div>
                  </div>
                 </div>
               </div>
              </ng-template>


              <div  class="itemInfoLast">
                <div class="infoClass"> About me:</div>
                <div class="itemValueLast">
                  <span *ngIf="user.aboutMe">{{user.aboutMe}}</span>
                  <span *ngIf="!user.aboutMe">Hi there! I am new on travel-ladies. </span>
                </div>
              </div>

          </div>

        </div>


      </div>



      <div class="imageContainer">
      <div class="picturesTitle"> More pictures: </div>

      <div class="moreIMagesContainer">

        <div  class="completeImage" *ngFor="let userPic of userPics | async">
          <div *ngIf="userPic.public" class="moreImages" matRipple>
            <img height="270" width="270" src="{{userPic.url_image}}">
          </div>

          <div (click)="openRequestPhoto()" *ngIf="userPic.private"class="moreImagesPrivate" matRipple>
            <div>
            <mat-icon>lock</mat-icon>
            <div class="subTextPrivate">Private Photo</div>
            </div>
          </div>
        </div>


      </div>
      </div>


</div>
