.flex {
  display: flex;
}


.chooseUserContainer {
  margin-top:25px;
  justify-content: space-between;

}

.allContainers {
  justify-content: space-between;
  align-items: center;
}

.fakeBox {
  box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
  padding-left: 10px;
}

.currentSelected {
  margin-top:10px;
  color: black;
  opacity: 0.95;
  font-size:17px;
}

.arrowMiddle {

}

.arrowMiddle mat-icon {
  font-size:80px;
  width: 80px;
  height:80px;
  opacity: 0.5;
  margin-left: 20px;
  margin-right: 20px;
}

.headerTitle {
  color: black;
  opacity: 0.96;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.conversationContainer {
  background-color: white;
  width: 420px;
  padding-left: 20px;

border: 1px solid #D6D7D8;


}

.allContainers {
  margin-top:20px;
}

.visitsAndMessages {
  margin-top: 10px;
  color: black;
  opacity: 0.55;
  font-size:12px;
}

.topConversation{
  width: 100%;
}

.inputsSend {
  display:flex;
  align-items: flex-end;
}

.inputsSend button {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

mat-form-field{
 width: 95%;
 margin-top: 20px;
}

.allUsers {
  height: 200px;
  overflow:  scroll;
  overflow-x: hidden;
}

.noFakeUsersContainer {
}


.fake {
    background-color: white;
    padding: 10px;
      box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
}

.real {
  background-color: white;
  padding: 10px;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
  width:235px;
}
.fake img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.real img {
  width: 150px;
  height: 150px;

}



mat-form-field {
  width: 100%;
}


.containerImages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.mat-spinner {
  margin-top:20px;
}
.containerBrowse {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  justify-content: space-between;
}
.SecondContainerImages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.header {
  font-size: 1.75rem;
font-weight: 400;
line-height: 2.25rem;
color: #202124;
padding:0px;
margin: 0px;
}
.subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  opacity: 0.65;

}
.righContainer {
  margin-top: 20px;
}

.icons mat-icon {
  font-size: 25px;
  width: 25px;
  height: 25px;
}



.imageImgContainer mat-icon {
  position: absolute;
  left: 10px;
  top: 5px;
  color: #4BB3E3;
  font-size: 30px;
}

.imagePerson {
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 100%;
  background: #FBFCFC;
}


 .imageName {
   font-size: 16px;
   color: black;
   opacity: 0.96;
 }

 .imageFrom {
   font-size: 14px;
   color: black;
   opacity: 0.5;
 }

.imageImgContainer {
  overflow: hidden;
  border-radius: 2px;

}



.imageImgContainer:hover{
    opacity: 0.9;
}

.imageImgContainer img {
  width: 80px;
  height: 80px;
  border-radius: 2px;
}

.bottomContainer {
  margin-left: 10px;
  opacity: 0.96;
}

.header {
  font-size: 1.75rem;
font-weight: 400;
line-height: 2.25rem;
color: #202124;
padding:0px;
margin-top: 20px;
}

.messagesName {
  font-size:10px;

}


.sentInbox {
  color: black;
  padding-bottom: 10px;
  font-size:14px;
}

.sent {
  margin-left: 15px;
  cursor: pointer;
  opacity: 0.85;
  color: black;
  text-decoration: none;
}

.trash {
  margin-left: 15px;
  cursor: pointer;
  color: black;
  opacity: 0.85;
  text-decoration: none;
}

.inbox{
  margin-left: 15px;
  cursor: pointer;
  font-weight: bolder;
  color: black;
  opacity: 0.97;
  text-decoration: underline;
}


.trash:hover {
    text-decoration: underline;
}

.sent:hover {
    text-decoration: underline;
}
.inbox:hover {
    text-decoration: underline;
}



.conversationsContainer {
  min-width: 500px;
  background-color: white;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
  margin-top: 20px;
}


.messagesHeader {
  color: black;
  opacity: 0.96;
  font-size: 20px;
  padding: 15px;
}

.headerContainer {
  min-width: 250px;
  border-bottom:1px solid #CDCCCD;
  border-right:1px solid #CDCCCD;
  background-color:#EFEFEF;
}

.leftCointainer {
  border-right:1px solid #CDCCCD;
  width: 250px;

}

.imageProfileHeader {
  margin-left: 15px;
  margin-right: 10px;
}
.imageProfileHeader img {
  border-radius: 50%;
}

.imageProfile img {
  border-radius: 50%;
}

.nameInfosContainer {
  border-bottom: 1px solid #CDCCCD;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #EFEFEF;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
height: 70px;
padding-right: 0px;
}

.messageText {
  font-size: 13px;;
}

.nameAndText {
  margin-left: 10px;
}

mat-nav-list .active {
  background-color: #F6F6F6;
}
.nameAndText {
  width: 168px;
}

.time {
  color: black;
  opacity: 0.65;
  font-size: 8px;
  margin-right: 5px;
}

.nameHeader {
  color: black;
  opacity: 0.96;
  font-size: 20px;
  cursor: pointer;
}

.nameHeader:hover {
  text-decoration: underline;
  color: black;
  opacity: 0.96;
}


.timeInMessageContainer {
  opacity: 0.65;
  font-size: 13px;
}
.textContainer {
  width: 100%;
}
.textWrapper{
  background-color: #EEEDEE;
  padding: 2px;
  min-width: 200px;
  border-radius: 15px;
  padding:12px;
  max-width: 700px;
}

.textContainer {
  display:flex;
  margin-top:10px;
  align-items: flex-end;
}

.imageContainerText img {
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}



.myImage {
  margin-left:15px;
}

.otherImage {
  margin-right: 15px;
}

 mat-form-field{
  width: 95%;
  margin-top: 20px;
}




.textContainerMe {
  display:flex;
  margin-top:10px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 10px;
}

.textWrapperMe {
  background-color: #DCF8C6;
  padding: 2px;
  min-width: 200px;
  border-radius: 15px;
  padding:12px;
  max-width: 700px;
}

#delete {
  color: black;
  opacity: 0.65;
  visibility: hidden;
}

div span.only-show-on-hover {
    visibility: hidden;
}
#hoverDelete:hover #delete   {
    visibility: visible;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 2px;
  opacity: 0.8;
  position: absolute;
  left: 3px;
}

.fromContainer mat-icon {
  font-size: 15px;
  padding:0px;
  margin: 0px;
}

.fromContainer div {
  font-size: 13px;
  margin:0px;
  padding:0px;
  position: relative;
  right: 8px;
}




.rightContainer {
  width: 100%;
}

.bottomInput {
 padding: 15px;
 box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
}

.bottomInput button {
  margin-bottom: 20px;
  margin-left: 20px;
}

.inputsSend {
  display:flex;
  align-items: flex-end;

}

.profileVisotosContainer {
  height: 100px;
  width: 100px;
  overflow-y: scroll;
}

.profileVisitorsHeader {
  font-size:14px;
  opacity: 0.95;
  margin-bottom:10px;
    font-weight: bolder;
}

.myProfileVisitors {
    margin-top: 15px;
    border: 1px solid #D6D7D8;
    padding: 5px;
    width: 100px;
}
.myChats {
  margin-top: 15px;
  border: 1px solid #D6D7D8;
  padding: 5px;
  width: 100px;
}

.profileVisotosContainer a {
  font-size: 12px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  opacity: 0.55;
}

.profileVisotosContainer a:hover {
  text-decoration: underline;
}


.allMessagesContainer {
  padding: 15px;
  overflow-y: scroll;
  height:400px;
  width: 420px;

}

.locked {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lockedTitle {
  font-size: 25px;
  font-weight: bold;
  color: black;
  opacity: 0.96;
  margin-bottom: 10px;
}

.subTitle {
  margin-bottom: 10px;
}

.lockedContent {
  text-align: center;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
  padding: 40px;
}



.locked mat-icon {
  font-size: 300px;
  position: absolute;
  opacity: 0.3;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


.timeMessage {
  color: black;
  opacity: 0.65;
  font-size: 8px;
}

.timeMessagePosition {
  float: right;
}

.noConversations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lockedConversation {
  text-align: center;
  margin-top: 30px;
  opacity: 0.7;
}

.lockedTitle {
  font-size: 25px;
  font-weight: bold;
  color: black;
  opacity: 0.96;
  margin-bottom: 10px;
}

.visitProfile {
  width: 450px;
  background-color: white;
  padding:10px;
  margin-bottom: 15px;
  justify-content: space-between;
  border: 1px solid #D6D7D8;
}
