<div class="container2">
<h1 class="header">Full membership</h1>


<div class="firstContainer">

  <div class="simpleTrueFacts">
    <div class="headerFirst">Simple True Facts</div>
    <div class="firstTextsub">We invest a large part of our income into attracting new girls. You are backed by a proactive customer service. We offer secure and lively environment for you to enjoy.</div>
  </div>

  <div class="startPremium">
    <div class="headerFirst">Start Your Premium Now!</div>
    <div class="firstTextsub">Browse thousands of nice and adventurous girls. Contact your favoured ones right away. Start planning your next travel date.</div>
  </div>

</div>


<div class="middleContainer">
  <div class="buyContainer">
    <div class="additionHeader">Starter</div>
    <div class="buyHeader1">
      <div class="buyHeader1Title">1 Month</div>
      <div class="subHeader1">Premium</div>
    </div>

    <div class="buyHeader2">
      <div class="priceContainer">
      <div class="buyHeader2Title">2,00</div><div class="euro">EUR</div>
      </div>
      <div class="perDay">per day</div>

      <div class="fullPrice">59,00 EUR</div>
      <div class="subText">Perfect for the first time</div>

      <button  mat-raised-button  class="specialColor" (click)="goPremium()">Continue to checkout </button>
    </div>
  </div>

  <div class="buyContainer">
    <div class="additionHeader">Bestseller</div>
    <div class="buyHeader1">
      <div class="buyHeader1Title">3 Months</div>
      <div class="subHeader1">Premium</div>
    </div>

    <div class="buyHeader2">
      <div class="priceContainer">
      <div class="buyHeader2Title">1,50</div><div class="euro">EUR</div>
      </div>
      <div class="perDay">per day</div>

      <div class="fullPrice">134,00 EUR</div>
      <div class="subText">Save 25%!</div>

      <button  mat-raised-button  class="specialColor">Continue to checkout </button>
    </div>
  </div>


  <div class="buyContainer">
    <div class="additionHeader">Best deal</div>
    <div class="buyHeader1">
      <div class="buyHeader1Title">6 Months</div>
      <div class="subHeader1">Premium</div>
    </div>

    <div class="buyHeader2">
      <div class="priceContainer">
      <div class="buyHeader2Title">1,00</div><div class="euro">EUR</div>
      </div>
      <div class="perDay">per day</div>

      <div class="fullPrice">179,00 EUR</div>
      <div class="subText">Save 50%!</div>

      <button  mat-raised-button  class="specialColor">Continue to checkout </button>
    </div>
  </div>



</div>

<div class="ourPayments">
  <div class="payText">Our payment methods:</div>
  <img src="https://webassets.lovoo.com/images/payment/paypal-t-padding.png">
  <img src="https://webassets.lovoo.com/images/payment/cc-t-padding.png">
  <img src="https://api.paymentwall.com/images/ps_logos/pm_giropay.png">
</div>


<div class="anyQuestions">
  <div class="anyQuestionsTest"> Any Questions?</div>
  <div class="questionButton">
    <div class="anyQuestionsSubText">Answers to all your premium questions can be found in our FAQs.<br> Click in and find the right answer.</div>
    <button routerLink="/faq"  mat-raised-button  class="specialColor toFaq">To the FAQs</button>
  </div>
</div>

</div>
