
<div class="container2">
  <h1 class="header">About us</h1>
  <div class="subtitle">Travelgirls is among the first online dating websites to merge travel, dating and cultures together. Finding a travel mate from anywhere in the world is now possible in just a few minutes. The service that started in 2010 grew up to have about a million active members today. One of the core goals of Travelgirls is to provide the highest quality service based on continuos improvement in web page design, better communication, highest level of customer satisfaction and precise administration processes. Travelgirls has a dedicated team of people working every day to have a unique, easy to navigate and spam free site.</div>
</div>
